DB_HOST=localhost
DB_PORT=5432
DB_NAME=archiflow
DB_USER=archiflow
DB_PASSWORD=suasenhaaqui

JWT_SECRET=suachavesecretaaquicomnominhode32caracteres
JWT_ISSUER=ArchiFlow.API
JWT_AUDIENCE=ArchiFlow.App
JWT_EXPIRATION_MINUTES=480

# Seeds Iniciais do Sistema (Produção / Dev)
SEED_ADMIN_NAME=Administrador do Sistema
SEED_ADMIN_EMAIL=admin@archiflow.com
SEED_ADMIN_PASSWORD=Admin@123

# Seeds de Desenvolvimento (Opcionais)
SEED_GERENTE_NAME=Gerente Arquiteto
SEED_GERENTE_EMAIL=gerente@archiflow.com
SEED_GERENTE_PASSWORD=Gerente@123

SEED_COLABORADOR_NAME=Colaborador Arquiteto
SEED_COLABORADOR_EMAIL=colaborador@archiflow.com
SEED_COLABORADOR_PASSWORD=Colaborador@123
