<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[ArchiFlow.Infrastructure]*,[ArchiFlow.Domain]*,[ArchiFlow.API]*Controllers*,[ArchiFlow.API]*Middleware*,[ArchiFlow.API]*Extensions*,[ArchiFlow.Application]*.DTOs.*,[ArchiFlow.Application]*.Commands.*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
